nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: $secondary;
  .linkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  a {
    font-size: xx-large;
    text-decoration: none;
    color: $secText;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    &:hover {
      > * {
        color: $primeText;
      }
    }
  }
  svg {
    transition: all 0.2s ease-in-out;
    color: $secText;
    &:hover {
      color: $primeText;
    }
  }

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    > p {
      font-size: 2.4rem;
      font-family: "fantasy", sans-serif;
      color: $secText;
      letter-spacing: 0.1rem;
    }
  }
  span {
    font-size: small;
    color: $secText;
    transition: all 0.2s ease-in-out;
  }
}
